.mobile-menu
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #fff
    z-index: 99
    transform: translateX(100%)
    transition: all ease-in-out .3s
    & .phone-top
        & a
            color: $primary-color
            text-decoration: none
        & h4
            margin-bottom: 0
    &.show
        transform: translateX(0)
    & button.close-menu
        border: 0
        background: transparent
        padding: 0
        margin: 0
        width: 30px
        height: 30px
        display: block
        position: relative
        & span:first-child
            display: block
            height: 2px
            width: 100%
            background: #000
            transform: rotate(45deg)
        & span:last-child
            margin-top: -1px
            display: block
            height: 2px
            width: 100%
            background: #000
            transform: rotate(-45deg)
    & .header
        & h4
            font-weight: $font-weight-semibold
            font-size: 22px
            text-transform: uppercase
            margin-bottom: 0
        & span
            font-weight: $font-weight-light
            font-size: 12px
        & .logo
            max-height: 50px
            max-width: 50px
            & img
                width: 100%
    & .nav
        padding: 30px 0
        & ul
            @include list-reset
            & li
                border-bottom: $cart-border
                & a
                    display: flex
                    align-items: center
                    font-size: 18px
                    font-weight: $font-weight-semibold
                    text-decoration: none
                    color: $primary-color
                    width: 100%
                    min-height: 45px
                    &::before
                        content: '>'
                        padding-right: 12px

    & .footer
        padding: 24px 0
        & ul
            @include list-reset
            display: flex
            justify-content: start
            & li
                overflow: hidden
                padding: 0 6px
                &:first-child
                    padding-left: 0
                & a
                    text-decoration: none
                & .social-item
                    border-radius: $default-radius
                    overflow: hidden
                    height: 40px
                    width: 40px
                    display: flex
                    align-items: center
                    justify-content: center
                    & i
                        color: #fff
                        font-size: 24px
