nav
    padding: 12px 0
    background: $navbar-background
    color: $color-white
    position: sticky
    top: 0
    z-index: 10
    height: 70px
    & .burger-menu
        height: 30px
        width: 30px
        display: block
        padding: 0
        margin: 0
        border: 0
        background: transparent
        position: relative
        display: block
        & span
            height: 2px
            margin-bottom: 8px
            width: 100%
            background: #fff
            display: block
            &:last-child
                margin-bottom: 0
    & .logo
        display: flex
        color: $color-white
        text-decoration: none
        height: 45px
        width: 45px
        & img
            width: 100%
            margin-right: 12px
        & .logo-text
            display: block
            & h5
                margin-bottom: 0
                text-transform: uppercase
                font-size: 22px
                font-weight: $font-weight-semibold
            & span