nav
    padding: 12px 0
    background: $navbar-background
    color: $color-white
    position: sticky
    top: 0
    z-index: 10
    height: 70px
    box-shadow: $default-shadow
    & .burger-menu
        height: 30px
        width: 30px
        display: block
        padding: 0
        margin: 0
        border: 0
        background: transparent
        position: relative
        display: block
        & span
            height: 2px
            margin-bottom: 8px
            width: 100%
            background: #fff
            display: block
            &:last-child
                margin-bottom: 0
    & .logo
        display: flex
        color: $color-white
        text-decoration: none
        height: 45px
        width: 45px
        & img
            width: 100%
            margin-right: 12px
        & .logo-text
            display: block
            & h5
                margin-bottom: 0
                text-transform: uppercase
                font-size: 22px
                font-weight: $font-weight-semibold
            & span
    & .navbar-links
        @include list-reset
        display: flex
        align-items: center
        justify-content: center
        & li
            padding: 0 6px
            cursor: pointer
            position: relative
            &.drop
                cursor: pointer
                &:hover > .drop-menu
                    display: block
            & .drop-menu
                position: absolute
                min-width: 170px
                display: none
                background: $navbar-background
                left: 0
                & ul
                    @include list-reset
                    padding: 0 12px
                    & li
                        border-bottom: $cart-border
                        &:last-child
                            border-bottom: 0
                        &:hover
                            background: $primary-color
                        & a
                            padding: 12px 0
                            display: block
            &.drop::after
                display: inline-block
                width: 0
                height: 0
                margin-left: 3px
                vertical-align: .255em
                content: ""
                border-top: .3em solid
                border-right: .3em solid transparent
                border-bottom: 0
                border-left: .3em solid transparent
            &:last-child
                padding-right: 0
            &:first-child
                padding-left: 0
            & a
                color: #fff
                text-decoration: none
    & .work-hours
        display: block
        & .clock
            display: flex
            align-items: center
            font-size: 10px
            & i
                padding-right: 6px
            
