.project-slider
    width: 100%
    & .slider-item
        & img
            width: 100%

.project-details
    & h1
        font-weight: $font-weight-semibold
    & .description
        padding: 24px 0
        & h6
            font-size: 18px
            font-weight: $font-weight-semibold
        & p
            margin-bottom: 0
    & .project-data
        padding: 0 0 24px 0
        & h6
            font-size: 18px
            font-weight: $font-weight-semibold