// Body
$primary-color: #03b223;
$color-white: #fff;
$topbar-background: rgba(12, 11, 9, 0.85);
$navbar-background: rgba(12, 11, 9, 0.6);
$navbar-border-bottom: 1px solid rgba(12, 11, 9, 0.6);
$bg-dark: #111111;
$vertical-padding: 12px 0;
$navbar-padding: 24px 0;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
