// Body
$primary-color: #03b223
$color-white: #fff
$topbar-background: rgba(12, 11, 9, 0.85)
$navbar-background: rgba(12, 11, 9, 0.9)
$default-shadow: rgba(50, 50, 93, 0.35) 0px 13px 27px -5px, rgba(0, 0, 0, 0.4) 0px 8px 16px -8px
$navbar-border-bottom: 1px solid rgba(12, 11, 9, 0.6)
$bg-dark: #111111
$vertical-padding: 12px 0
$navbar-padding: 24px 0
$overlay: rgba(0,0,0,0.3)
$fw-header: 500
$default-radius: 10px
$cart-border: 1px solid #e9ecef
$overlay: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%)
// Typography
$font-size-base: 0.9rem
$line-height-base: 1.6

