@import 'variables';
@import 'bootstrap/scss/bootstrap';

// topbar section
.topbar{
    background: $topbar-background;
    min-height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// navbar
nav{
    padding: $navbar-padding;
    background: $navbar-background;
    color: $color-white;
}

// footer
footer{}
footer .footer-wrapper{
    background: $primary-color;
    padding: 45px 0;
    color: $color-white;
}
footer .copyright{
    background: $bg-dark;
    padding: $vertical-padding;
    color: $color-white;
}
